* {
    margin: 0;
    padding: 0;
}

.card {
    width: 1000px;
    height: 600px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 999;
}

@media screen and (max-width: 1024px) {
    .card {
        width: 900px;
    }
}

@media screen and (max-width: 768px) {
    .card {
        width: 720px;
    }
}

@media screen and (max-width: 542px) {
    .card {
        width: 400px;
        margin-top: 4.5rem;
    }
}