* {
    margin: 0;
    padding: 0;
}

.card {
    width: 1000px;
    height: 600px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}